@font-face {
  font-family: 'franklin';
  src: url('ITCFranklinGothicStd-Hvy.otf') format('truetype');
}

html {
  height: 100%;
}

body {
  font-family: 'franklin';
  margin: 0;
}

#synthe_container {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1636px;
  background: #1e32c8;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 80px;
  height: 150px;
}

.commands_container {
  display: block;
  margin-top: 200px;
  float: right;
}

.round_button {
  display: block;
  height: 40px;
  width: 120px;
  line-height: 40px;
  border-radius: 4px;
  margin: 12px;
  background-color: #1e32c8;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
